*{
  margin: 0px;
  padding: 0px;
}
#container{
  display: flex;
  border: 2px solid black;
  height: 20vh;
  width: 80vw;
}
.box{
  width: 100px;
  height: 100px;
}
#box1{
  background-color: red;
}
#box2{
  background-color: yellow;
}
#box3{
  background-color: green;
}
#box4{
  background-color: blue;
}
#box5{
  background-color: maroon;
}