h1{
  color:darkolivegreen
}
p{
  /* color:blueviolet */
  color:teal
}
button{
  color:pink;
  font-size: 30px;
  font-weight: 600;
  /* background-color: green; */
  background-color: rgb(100,255,100);
  /* padding: 1rem; */
  margin: 1rem;
}