div{
  height: 100px;
  width: 100px;
  background-color:aqua;
  border: 2px solid black;
  display: inline-block;
}

/* The 'static' property is the default property for an html element. In this property Top, Bottom, Left, Right and z-index has no effect. */

#box1{
  position: static;
}
#box2{
  position: relative;
  top: 10px;
  left: 10px;
}