.contentBox{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
}

#div6{
  height: 60px;
  border: 10px solid white;
  background-color:#0f1111;
}

footer{
  background-color:#0f1111;
  color:white;
  justify-content: center;
}