ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color:bisque
}
li{
  text-decoration: none;
  background-color:aqua
}