ul{
  list-style-type: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color:bisque
}
.litem{
  text-decoration: none;
  /* background-color:aqua; */
  /* display: inline; */
}

#outer{
  height: 300px;
  width: 300px;
  background-color:maroon;
}
#inner{
  height: 100px;
  width: 100px;
  background-color:cadetblue;
}