ul{
  list-style-type: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color:bisque
}
li{
  text-decoration: none;
  background-color:aqua;
  /* display: inline; */
}