div{
  height: 100px;
  width: 100px;
  background-color:aqua;
  border: 2px solid black;
  display: inline-block;
}

/* 

1) The 'static' property is the default property for an html element. In this property Top, Bottom, Left, Right and z-index has no effect.

2) The 'relative' property sets element relative to its default position. The top, right, bottom, left and z-index properties will work with this position.

3) The 'absolute' property positions relative to its closest non-staticly positioned ancestor and the element is removed from the flow.

4) The 'fixed' property positions the element relative to the browser instead of closest non-staticly positioned ancestor as in the case of 'absolute' property and element is removed from the flow. The element with 'fixed' position will be always stationed at the specified position even after scrolling.

5) The 'sticky' property will be used to make an element 'fixed' when it reaches the coordinates specified by the position parameters such as top, right, bottom, left etc.

6) The 'z-index' property is used to decide which element will be visible when there is overlap of elements. By default, the elements which come later in the DOM or flow will have high z-index whereas as prior elements will have lower higher z-index. Higher z-index will be seen over all the elements. z-index can also have -ve values.

*/

#box1{
  position: static;
  background-image: url("cat_photo.jpeg");
  background-size:auto;
}
#box2{
  position: relative;
  top: 10px;
  left: 10px;
}
#box3{
  position: absolute;
  top: 100px;
  left: 400px;
}
#box4{
  position: fixed;
  top: 100px;
  left: 1000px;
}
#box5{
  position: sticky;
  top: 200px;
  left: 700px;
}