*{
  margin: 5rem;
}

#div1{
  width: 200px;
  height: 200px;
  background-color:aqua;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 1s; */
  transition: all 2s ease-in-out 1s;
  /* transition-timing-function: ease-in; */
  /* transition-timing-function: cubic; */
  /* transition-timing-function: steps(5); */
  /* line-height: normal; */
  /* vertical-align: middle; */
  /* padding: 50px 0; */
}
#div1:hover{
  background-color:blueviolet;
  color: white;
  width: 600px;
}

#transfromDiv{
  width: 200px;
  height: 200px;
  margin-top: 3rem;
  background-color:chocolate;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#transfromDiv:hover{
  /* transform: rotate(45deg); */
  transform: rotateX(180deg);
  transform: scale(2);
}
#animateDiv{
  width: 200px;
  height: 200px;
  margin-top: 3rem;
  background-color:cadetblue;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes rotatebox {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg); }
}